@import url('https://use.typekit.net/uis5btg.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Acumin Variable Concept;
  src: url('./fonts/Acumin-Variable-Concept.ttf');
}
@import url("https://use.typekit.net/muu4fqf.css");

body {
  font-family: Acumin Variable Concept !important;
}

@keyframes arrow-spin {
  50% {
    transform: rotateY(360deg);
  }
}
